*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

.Nav{
    margin-left: 95px;
    padding-top: 30px;
    display: flex;
}

body{
    background: linear-gradient(45deg, red, orange, green, blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    margin: 70px auto;
    width: 1000px;
    height: 80vh;
    background: #bdedcc;
    border-radius: 20px;
    
}

.container:hover{
    box-shadow: 20px 20px 100px #100e15;
}

input{
    padding: 10px;
    width: 600px;
    padding-left: 50px;
    border: 2px solid blue;
    background: transparent;
    color: #e57128;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

input::placeholder{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.addlist{
    padding: 10px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    background: #e57128;
    border: 2px solid blue;
    border-left: none;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
    cursor: pointer;
}

.addlist:hover{
    box-shadow: 0px 0px 20px blue;
}

input:focus, .addlist{
    outline: none;
}

.removebtn {
    padding: 5px 12px;
    background-color: #ff4b4b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.datacontainer{
    margin: 20px auto;
    width: 800px;
    height: 65vh;
    border: 2px solid blue;
    border-radius: 20px;
}

h2 {
    text-align: center;
    color: blue;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 3px dashed #ff8f4a;
}

.Add-list {
    color: blue;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ffb585;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    background: #fff4eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.Add-list:hover {
    background: #ffe2cc;
    transform: translateX(5px);
}

ol {
    margin: 10px auto;
    width: 600px;
    padding: 0;
    list-style-position: inside;
    font-family: "Poppins", sans-serif;
}

